* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  max-width: 600px;
  margin: 0 auto 200px;
  padding: 10px;
}

input:focus,
a:focus,
button:focus {
  box-shadow: 0 0 5px 5px #285DAB;
}

button {
  background: transparent;
  border: 0;
  border-radius: 3px;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  width: auto;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  background: #278829;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
}
